# UE4 Project directories to ignore
Workshop3.code-workspace
.vscode/*
Binaries/*
Intermediate/*
Saved/*
Build/*
DerivedDataCache/*
Plugins/*

Plugins/SplineTwistCorrect/Binaries/*
Plugins/SplineTwistCorrect/Intermediate/*
Content/Beta/
Workshop3.sln
.vs/*

